{% extends 'submittal-layout.html' %}

{% block body %}


<div class="container">

    <!-- save messages -->

            <div class="row message-bar">
                <section class="col-xs-offset-4 col-xs-4">
            <ul class="messages">
                <li>Your file has been deleted!</li>
            </ul>

                    </section>
            </div>
<!-- end error messages -->


 <!-- jQuery UI dialog box -->

    <div class="dialog"></div>

<!-- end dialog box -->


<main class="drop-down">
    <section class="row dashboard-first-row">
        <table class="table table-hover submittal-list">
        <tr>
            <th>Loan Number</th>
            <th>Member Last Name</th>
            <th>Member First Name</th>
            <th>Loan Officer</th>
            <th>Created On</th>
        </tr>
        {% for s in submittals %}
            <tr id="item-{{ s.id }}">
                <td><a href="/{{ request.user.username }}/submittals/{{ s.id }}">{{ s.loan_number }}</a></td>
                <td>{{ s.b1_last_name }}</td>
                <td>{{ s.b1_first_name }}</td>
                <td>{{ s.loan_officer }}</td>
                <td>{{ s.created_at }}</td>
                <td><a href="/{{ request.user.username }}/submittals/{{ s.id }}"><span title="Edit" id="{{ s.id }}"
                          class="glyphicon glyphicon-pencil edit-glyphicon"></span></a></td>
                <td><span title="Delete" id="{{ s.id }}"
                          class="glyphicon glyphicon-remove delete-glyphicon delete-submit"></span></td>

            </tr>


        {% endfor %}



            </table>
        </section>
    <div class="nav-bottom"></div>
            </div>

        </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>



    </main>
    </div>


<div class="hidden" id="autolist">



</div>

<script>

$('#search-box').keyup(function(event) {

        $(function() {
            var availableTags = {{ autolist|safe }};
            $('#search-box').autocomplete({
                source: availableTags
            });
        })

});



</script>

{% endblock %}