{% extends 'submittal-layout.html' %}

{% block body %}


<div class="container">

<main class="drop-down">
    <section class="row dashboard-first-row">
        <table class="table table-hover submittal-list">
        <tr>
            <th>Loan Number</th>
            <th>Member Last Name</th>
            <th>Member First Name</th>
            <th>Loan Officer</th>
            <th>Created On</th>
        </tr>
        {% for s in submittals %}
            <tr>
                <td><a href="/{{ request.user.username }}/submittals/{{ s.id }}">{{ s.loan_number }}</a></td>
                <td>{{ s.b1_last_name }}</td>
                <td>{{ s.b1_first_name }}</td>
                <td>{{ s.loan_officer }}</td>
                <td>{{ s.created_at }}</td>


            </tr>


        {% endfor %}



            </table>
        </section>
    <div class="nav-bottom"></div>
            </div>

        </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>



    </main>
    </div>



{% endblock %}