{% extends 'layout.html' %}

{% block body %}

<!-- background images -->

<div class="row">
    <section class="backdrop" id="backdrop">
        <ul>{% load static %}
            <li><img src="{% static  'img/landing/1.jpg' %}">
            <li><img src="{% static  'img/landing/2.jpg' %}">
            <li><img src="{% static  'img/landing/3.jpg' %}">
            <li><img src="{% static  'img/landing/4.jpg' %}">
            <li><img src="{% static  'img/landing/5.jpg' %}">
            <li><img src="{% static  'img/landing/6.jpg' %}">
            <li><img src="{% static  'img/landing/7.jpg' %}">
            <li><img src="{% static  'img/landing/8.jpg' %}">
            <li><img src="{% static  'img/landing/9.jpg' %}">
            <li><img src="{% static  'img/landing/10.jpg' %}">
            <li><img src="{% static  'img/landing/1.jpg' %}">
            <li><img src="{% static  'img/landing/2.jpg' %}">
            <li><img src="{% static  'img/landing/3.jpg' %}">
            <li><img src="{% static  'img/landing/4.jpg' %}">
            <li><img src="{% static  'img/landing/5.jpg' %}">
            <li><img src="{% static  'img/landing/6.jpg' %}">
            <li><img src="{% static  'img/landing/7.jpg' %}">
            <li><img src="{% static  'img/landing/8.jpg' %}">
            <li><img src="{% static  'img/landing/9.jpg' %}">
            <li><img src="{% static  'img/landing/10.jpg' %}">

        </ul>
        </section>
</div>

<!-- end background -->


{% if messages %}


<div class="row message-bar">
    <section class="col-xs-offset-4 col-xs-4">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

        </section>
</div>

{% endif %}

{% if user.is_authenticated %}
<div class="row">
    <nav class="nav navbar">
        <div class="col-xs-4 pull-right login-message">
           <ul class="list-inline">
            <li><h5>you are currently signed in as <span class="current_user">
                <a href="{{ user.username }}/submittals/">
                {{ user.username }}
                </a>
            </span></h5></li>
            <li><a href="logout_user">logout</a>
           </ul>
        </div>


    </nav>
    </div>

{% endif %}


<div class="row">
            <section class="col-xs-offset-4 col-xs-4 title" >
                Collate.
            </section>
    </div>

    <div class="row">
            <section class="col-xs-offset-4 col-xs-4 main" id="main">
             <div class="row">


    <form method="POST" action="/login_user/">{% csrf_token %}
    <div class="col-xs-offset-2 col-xs-8 form-group form-block">


        <div class="row">
            <section class="col-xs-12">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder='Username'>
            </section>
        </div>

        <div class="row">
            <section class="col-xs-12">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder='Password'>
            </section>
        </div>

        <button type="submit" id="login" class="btn btn-default pull-right">Log In</button>

    </div>
    </form>
    </div>
                </section>

                </div>


 <div class="row">
        <section class="col-xs-offset-5 col-xs-4" id="copyright">
            Copyright &copy; 2016 Andre Jemison.
        </section>

    </div>


<div id="scroll-title" class="row">

</div>


{% endblock %}

