{% extends 'layout.html' %}

{% block body %}

{% if user.is_authenticated %}
<div class="row">
    <nav class="nav navbar">
        <div class="col-md-4 pull-right login-message">
           <ul class="list-inline">
            <li><h5>you are currenlty signed in as <span class="current_user">
                <a href="/submittals/">
                {{ request.user.username }}
                </a>
            </span></h5></li>
            <li><a href="logout_user">logout</a>
           </ul>
        </div>


    </nav>
    </div>

{% endif %}


<div class="row">
            <section class="col-xs-offset-4 col-xs-4 title">
                Collate.
            </section>
    </div>

    <div class="row">
            <section class="col-xs-offset-4 col-xs-4 main">
             <div class="row">

            <h3>Log In</h3>
    <form method="POST" action="/login_user/">{% csrf_token %}
    <div class="col-xs-offset-1 col-xs-9 form-group form-block">
        <label for="username">Email:</label>
        <input type="text" name="username" id="username" placeholder='Username'>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder='Password'>
        <button type="submit" id="login" class="btn btn-default pull-right">Log In</button>
    </div>
    </form>
    </div>
                </section>

                </div>



    </div>


{% endblock %}

