{% extends 'submittal-layout.html' %}

{% block body %}


<div class="container">
    
<main class="fade-in-body">
    <div class="message-row">
        <article class="col-xs-12 submittal-messages">

            <!-- error messages -->
            {% if messages %}

            <div class="row message-bar">
                <section class="col-xs-offset-4 col-xs-4">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>

                    </section>
            </div>

            {% endif %}
<!-- end error messages -->

        </article>


    </div>

    <div class="row first-row">

        <article class="col-md-8 header-field">
                    <form class="loan-number-field" id="loan_number_form" action="/save/" method="POST">{% csrf_token %}
                      <div class="form-inline">
                        <label for="loan_number">Loan Number*</label>
                        <!-- input type="text" class="form-control" id="loan_officer" placeholder="First Name Only" -->
                         <div> {{ form.loan_number }}</div>
                            {% load static %}
                          <aside id="loader"><img src="{% static 'img/ajax-loader.gif' %}"</aside>
                      </div>
                    </form>


                </article>



      <div class="col-md-12 main-area">
        <section class="section col-md-12">
            <div class="row">
                <aside class="list-inline col-xs-9">
                <h4>B1 Primary Information</h4>
                <input type="checkbox" name="show-b2" id="show-b2"> <i>Show 2nd borrower</i>
                </aside>

                 <aside class="col-xs-3">
                <button type="submit" class="btn btn-primary save-btn pull-right">Save</button>
                </aside>



                <article class="col-md-4">
                    <form class="borr-info-form">{% csrf_token %}
                      <div class="form-group">
                        <label for="b1_first_name">First Name*</label>
                        <!-- input type="text" class="form-control" id="b1_first_name" placeholder="First Name" -->
                        {{ form.b1_first_name }}
                      </div>
                      <div class="form-group">
                        <label for="b1_last_name">Last Name*</label>
                          {{ form.b1_last_name }}
                        <!-- input type="text" class="form-control" id="b1_last_name" placeholder="Last Name" -->
                      </div>
                      <div class="form-group">
                        <p class="help-block">* = required field</p>
                    </form>
                
                
                </article>
                    <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="loan_officer">Loan Officer*</label>
                        <!-- input type="text" class="form-control" id="loan_officer" placeholder="First Name Only" -->
                          {{ form.loan_officer }}
                      </div>
                      <div class="form-group">
                        <label for="account_type">Account Type*</label>
                          {{ form.account_type }}
                        <!-- select class="form-control" id="account_type" -->
                          <!-- option selected="selected">Equity Line of Credit</option -->
                          <!-- option>Equity Loan</option -->
                        <!-- /select -->
                      </div>
                    </form>
                
                
                </article>

                <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="loan_officer">Loan Story*</label>
                        <!-- input type="text" class="form-control" id="loan_officer" placeholder="First Name Only" -->
                          {{ form.loan_story }}
                      </div>
                    </form>


                </article>

             </div>


            <div class="row b2">
                <h4>B2 Primary Information</h4>

                <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b2_first_name">First Name</label>
                        <!-- input type="text" class="form-control" id="b2_first_name" placeholder="First Name" -->
                        {{ form.b2_first_name }}
                      </div>
                      <div class="form-group">
                        <label for="b2_last_name">Last Name</label>
                        <!-- input type="text" class="form-control" id="b2_last_name" placeholder="Last Name" -->
                        {{ form.b2_last_name }}
                      </div>
                      <div class="form-group">
                    </form>
                
                
                </article>
                 
            
            </div>
          
          </section>
        
        
        </div>
      <!-- div class="col-md-3 side-bar">
        <section class="section hidden-lg-down">
            <div class="row"><h4>Quick Nav</h4></div>
            
          
          </section>
        
        </div-->
        </div>
    <div class="row second-row">
      <div class="col-md-12 main-area">
        <section class="section">
            <div class="row">
                <h4>B1 Income Information</h4>
                <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b1_employer_name">Employer Name*</label>
                        <!-- input type="text" class="form-control" id="b1_employer_name" placeholder="Employer Name" -->
                        {{ form.b1_employer_name }}
                      </div>
                      <div class="form-group">
                        <label for="b1_hire_date">Hire Date*</label>
                        <!-- input type="text" class="form-control" id="b1_hire_date" placeholder="mm/dd/yy" -->
                        {{ form.b1_hire_date }}
                      </div>
                      <div class="form-group">
                        <p class="help-block">* = required field</p>
                    </form>
                </article>



                    <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b1_income_amount">Income Amount*</label>
                        <!-- input type="text" class="form-control" id="b1_income_amount" placeholder="$" -->
                        {{ form.b1_income_amount }}
                      </div>
                      <div class="form-group">
                        <label for="b1_pay_frequency">Pay Frequency*</label>
                          {{ form.b1_pay_frequency }}
                        <!-- select class="form-control" id="b1_pay_frequency">
                          <option selected="selected"></option>
                          <option>Bi-Weekly</option>
                          <option>Semi-Monthly</option>
                          <option>Monthly</option>
                          <option>Weekly</option -->
                        </select>
                      </div>

                    </form>


                </article>
                <!-- area for B1 string concatenation output -->
                <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b1_income_output">Output</label>
                          {{ form.b1_income_output }}
                        <!-- textarea class="form-control" id="b1_income_output" rows="5"
                                  placeholder="All B1 income fields must be completed" readonly></textarea -->
                      </div>
                        <button type="submit" class="btn btn-primary calc-btn pull-right">Calculate</button>
                    </form>


                </article>

            </div>
                
            <div class="row b2">
                <h4>B2 Income Information</h4>
                <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b2_employer_name">Employer Name*</label>
                          {{ form.b2_employer_name }}
                        <!-- input type="text" class="form-control" id="b2_employer_name" placeholder="Employer Name" -->
                      </div>
                      <div class="form-group">
                        <label for="b2_hire_date">Hire Date*</label>
                          {{ form.b2_hire_date }}
                        <!-- input type="text" class="form-control" id="b2_hire_date" placeholder="mm/dd/yy" -->
                      </div>
                      <div class="form-group">
                        <p class="help-block">* = required field</p>
                    </form>
                </article>

                 <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b2_income_amount">Income Amount*</label>
                        <!-- input type="text" class="form-control" id="b2_income_amount" placeholder="$" -->
                        {{ form.b2_income_amount }}
                      </div>
                      <div class="form-group">
                        <label for="b2_pay_frequency">Pay Frequency*</label>
                          {{ form.b2_pay_frequency }}
                        <!-- select class="form-control" id="b2_pay_frequency">
                          <option selected="selected"></option>
                          <option>Bi-Weekly</option>
                          <option>Semi-Monthly</option>
                          <option>Monthly</option>
                          <option>Weekly</option>
                        </select -->
                      </div>

                        <div class="form-group">

                      </div>
                    </form>


                </article>
                <!-- area for B2 string concatenation output -->
                <article class="col-md-4">
                    <form class="borr-info-form">
                      <div class="form-group">
                        <label for="b2_income_output">Output</label>
                          {{ form.b2_income_output }}
                        <!-- textarea class="form-control" id="b2_income_output" rows="5"
                                  placeholder="All B2 income fields must be completed" readonly></textarea -->
                      </div>
                        <button type="submit" class="btn btn-primary calc-btn pull-right">Calculate</button>
                    </form>


                </article>
                 
            
            </div>
          
          </section>
        
        
        
        
        
        
        
        
        
        </div>
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
    
    </main>
    </div>


{% endblock %}