.table {
    border-color: #000;
    border-bottom: 0 !important;


}

.table th {
    background-color: #efeff5 !important;
    color: #1e1e2f;
}

.table a {
    color: #f99f2b;


}

.table tbody {
    border-top: none !important;

}

.table tr: {
    margin: 0 !important;
}

.table tr:hover {
    background-color: #50507c !important;
    color: #FFF !important;
}

.nav-bottom {
    background-color: #50507c;
    height: 25px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;

}

.delete-glyphicon {
    margin-right: 30px;
    font-size: 14px;
    color: #f99f2b;
    cursor: pointer;
}

.pagination > li > a {
    color: #50507c;
}
.pagination > li > a:hover {
    background-color: #50507c !important;
    color: #FFF;
}

.dashboard-pagination {
    margin-left: 45%;

}




