body {
    background-color: #efeff5;
}

a {
    color: white;

}

a:visited {
    color: white;

}

h4 {
    padding-left: 25px;
}

h5 {
    margin: 0;
    font-size: 20px;
}

.help-block {
    font-style: italic;

}

#user {
    float: right;
    
}

.nav {
    background-color: #50507c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    
}

.first-row {

    
}

.main-area {
    background-color: #FFF;
    padding: 25px;

}

.side-bar {
    background-color: #FFF;
    padding-top: 25px;
}

.section {
    background-color: #e0e0eb;
    border-top-right-radius: 10px;
    border-radius: 10px;
    padding-bottom: 25px;
}

.borr-info-form {
    margin: 10px;
    
}

.logout-list {
    margin-top: 6px;
}