.title a {
    margin-top: 5px;
    padding: 0px;
    color: #f99f2b !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 32px;
}

.title a:hover {
    text-decoration: none;
}

.messages {
    list-style: none;
    margin-top: 5px;
    margin-left: 20px;
}

.message-bar {
    display: none;
    background-color: #f99f2b;
    color: white;
    font-weight: 400;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body {
    background-color: #efeff5;
}

a {
    color: white;

}

ul.nav a:hover { color: #000 !important; }

a:visited {
    color: white;

}

h4 {
    padding-left: 25px;
}

h5 {
    margin: 0;
    font-size: 20px;
}

.help-block {
    font-style: italic;

}

#user {
    float: right;
    
}

.nav {
    background-color: #50507c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    
}

.nav .active a {
    background-color: #50507c !important;
}

.nav-pills a:hover {
    background-color: #d0d0e1 !important;
}

.first-row {
    background-color: #FFF;
    
}

.main-area {
    background-color: #FFF;
    padding: 25px;

}

.side-bar {
    background-color: #FFF;
    padding-top: 25px;
}

.section {
    background-color: #e0e0eb;
    border-top-right-radius: 10px;
    border-radius: 10px;
    padding-bottom: 25px;
}

.borr-info-form {
    margin: 10px;
    
}

.loan-number-field {
    background-color: #FFF;
    margin-top: 15px;

}

.header-field {
    background-color: #FFF;

}


.logout-list {
    margin-top: 6px;
}

.logout-list li a {
    color: #f99f2b;
}

#show-b2 {
    margin-left: 22px;
    font-size: 10px;
    font-style: italic;
}

.save-btn {
    margin-top: 15px;
    background-color: #50507c;
}

.calc-btn {
    margin-top: 20px;
    margin-right: 15px;
    background-color: #50507c;
}